$progess_bar_bg: gray;

.nav {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  min-height: 80%;

  font-size: 2rem;
  @media (min-width: 767px) {
    min-height: 70%;
  }
}

.mobile_burger {
  position: absolute;
  background-color: aqua;
  top: -15%;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @media (min-width: 767px) {
    display: none;
  }
}

.nav_items {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.nav_icon {
  width: 1.4em;
  height: 1.4em;
  margin-right: 5px;
  border: 2px solid $progess_bar_bg;
  border-radius: 50%;
  @media (min-width: 767px) {
    width: 2em;
    height: 2em;
  }
}

.nav_title {
  display: none;
  @media (min-width: 767px) {
    display: block;
  }
}

.progress_bar_container {
  margin: 5px 0.7em;
  width: 0.2em;
  flex-grow: 1;
  transform: translateX(-50%);
  background-color: $progess_bar_bg;
  @media (min-width: 767px) {
    margin: 5px 1em;
  }
}
